/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  background-color: var(--background-color);
  background-image:
    repeating-linear-gradient(var(--color-gradient-main) 0, var(--color-gradient-main) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to right, var(--color-gradient-main) 0, var(--color-gradient-main) 2px, transparent 2px, transparent 4px),
    linear-gradient(var(--color-gradient-start), var(--color-gradient-end));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 107px;
}

.header__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 696px;
  margin-top: 102px;
  padding: 136px clamp(0.875rem, -1.4577rem + 9.9531vw, 7.5rem) 25px;
  outline: 2px solid var(--accent-color);
  font-family: var(--side-font);
  background-color: var(--background-color);
}

.header__title {
  margin-bottom: 20px;
  font-size: 65px;
  text-transform: uppercase;
}

.header__title:focus-visible {
  outline: none;
}

.header__subtitle {
  margin-bottom: 25px;
  font-size: 23px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 13px;
  text-transform: uppercase;
  background-color: transparent;
  transition: .3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -14px;
  animation: arrow .5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 6px;
  width: 82%;
  height: 3px;
  opacity: 0.6;
  background-color: var(--accent-color);
  transition: .2s;
  transform: scaleX(0);
  transform-origin: 0;
}

.theme-menu__button:focus {
  border: none;
  outline: none;
  opacity: 0.6;
  color: var(--accent-color);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__item:not(:last-child) {
  margin-bottom: 7px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__list-item:not(:last-child) {
  margin-bottom: 57px;
}

.main__list-item:last-child {
  margin-bottom: 54px;
}

.main__card {
  max-width: 696px;
  outline: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card__title {
  padding: 3px 0 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wqht' var(--title-weight);
}

.card__block-img {
  position: relative;
  max-height: 696px;
  border: 2px solid var(--accent-color);
}

.img__label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  padding: 25px;
  opacity: .5;
  color: var(--accent-color);
  font-family: var(--side-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 0 var(--background-color),
    -1px 0 var(--background-color),
    0 1px var(--background-color),
    0 -1px var(--background-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px) or (-webkit-text-stroke: 1px)) {
  .img__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.card__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.img-grayscale {
  filter: grayscale(.5);
}

.img-saturate {
  filter: saturate(2.5);
}

.img-hue-rotate {
  filter: hue-rotate(45deg);
}

.img-invert {
  filter: invert(1);
}

.img-sepia {
  filter: sepia(90%);
}

.img-blur {
  filter: blur(5px);
}

.img-more-filter {
  filter: blur(2px) hue-rotate(50deg) contrast(110%) saturate(136%);
}

.card__block-info {
  display: grid;
  padding: 25px;
}

.card__paragraph {
  font-size: 18px;
  line-height: 21px;
}

.card__paragraph:not(:last-child) {
  margin-bottom: 25px;
}

.card__paragraph:last-child {
  margin-bottom: 25px;
}

.group__buttons {
  display: flex;
  justify-self: self-end;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  transition: .3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.like-icon {
  cursor: pointer;
}

.btn {
  position: relative;
  border: none;
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  background-color: transparent;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.card__button {
  padding: 8.5px 37px;
}

.btn:focus {
  box-shadow: 4px 4px 0 0 var(--accent-color);
}

.hover-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
  transition: .5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 0;
}

.hover-effect:hover::before {
  width: 100%;
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  font-family: var(--side-font);
  font-size: 14px;
  mix-blend-mode: difference;
}

.save__block {
  display: flex;
  justify-content: center;
  margin-bottom: 105px;
}

.save__button {
  padding: 16px 21px;
  background-color: var(--background-color);
}

.floppy {
  margin-top: 4px;
  margin-right: 6px;
  mix-blend-mode: difference;
}

.popup {
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 347px;
  border: none;
  padding: 31px 31px 31px 26px;
  outline: 2px solid var(--accent-color);
  font-family: var(--side-font);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.popup__svg {
  margin-right: 20px;
}

.popup__text {
  width: calc(100% - 60px);
  max-width: 80%;
  color: var(--accent-color);
  line-height: 150%;
}

.popup__form {
  width: 100%;
}

.popup__button {
  width: 100%;
  margin-top: 30px;
  padding: 9px;
}

.popup::backdrop {
  background-color: #00000075;
}

.popup:not([open]) {
  opacity: 0;
  pointer-events: none;
}

@media (width <=375px) {
  .header__title {
    font-size: 49px;
  }

  .header__subtitle {
    font-size: 14px;
  }

  .header__block {
    max-width: 371px;
  }

  .main__list-item:not(:last-child) {
    margin-bottom: 50px;
  }

  .main__card {
    max-width: 371px;
  }

  .card__title {
    padding-right: 3px;
  }

  .card__block-img {
    max-height: 371px;
  }

  .save__button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .save__floopy {
    margin-right: 0;
    margin-bottom: 8px;
  }
}